#  Dream_11 IPL_Data_Analysis 2020

# Context
This is the dataset of 13th edition of the IPL  played in UAE (United Arab Emirates) IPL 2020 had been scheduled between 19 September 2020 and 10 November 2020.

All 8 T20 Team Squad
Chennai Super Kings
Royal Challengers Bangalore
Delhi Capital
Mumbai Indians
Kolkata Knight Riders
Rajasthan Royals
Kings XI Punjab
Sunrisers Hyderabad

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# loading dream11 dataset file in my notebook

In [2]:
df=pd.read_csv('Daily_matchdata.csv')
df.head()

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
0,1.0,M1,MS Dhoni,CSK,MI,RH,Chasing,Sheikh Zayed,WK,0.0,NaN,20.0,NO
1,1.0,M1,Watson,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,4.0,NaN,17.0,LBW
2,1.0,M1,Rayudu,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,71.0,NaN,95.0,CAUGHT
3,1.0,M1,Du Plesis,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,58.0,NaN,100.0,NO
4,1.0,M1,Vijay,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,1.0,NaN,5.0,LBW

# Descrive Dataset file

In [3]:
df.shape

(1321, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321 entries, 0 to 1320
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0                        1320 non-null   float64
 1   Individual_Match No  1320 non-null   object
 2   Player               1320 non-null   object
 3   Team                 1320 non-null   object
 4   Opp_Team             1320 non-null   object
 5   RH/LH                1320 non-null   object
 6   Match_Type           1320 non-null   object
 7   Ground               1320 non-null   object
 8   Role                 1320 non-null   object
 9   Runs                 876 non-null    float64
 10  Wickets              679 non-null    object
 11  Dream11_ Points      1320 non-null   float64
 12  Dismissal            875 non-null    object
dtypes: float64(3), object(10)
memory usage: 134.3+ KB

# checking  for null value in our dataset

In [5]:
df.isnull().sum()

                         1
Individual_Match No      1
Player                   1
Team                     1
Opp_Team                 1
RH/LH                    1
Match_Type               1
Ground                   1
Role                     1
Runs                   445
Wickets                642
Dream11_ Points          1
Dismissal              446
dtype: int64

# Data Cleaning

In [6]:
df['Dream11_ Points'].unique()

array([ 20.,  17.,  95., 100.,   5.,  62.,  68.,  31.,  54.,  77.,   4.,
        18.,  42.,  23.,  51.,  22.,  25.,  30.,  50.,  37.,  29.,  26.,
         2.,  16.,  57.,  47., 126.,  41.,  58.,   7.,  49., 124.,   8.,
        19.,  93.,  56.,  38.,  76.,  34.,  71.,  11.,  63.,  27.,  83.,
       101.,  12.,  32., 145.,   9.,  88.,  64.,   0.,  46., 107.,  28.,
         3.,  45.,  43.,  33.,  59.,  48.,  10.,  39.,  13.,  -2.,  72.,
       180.,  36.,  21.,  79.,  35.,  -1.,  87.,  44.,  14.,  52.,  70.,
         6.,  91.,  53.,  73., 123.,  15.,  98., 158.,  81.,   1., 131.,
        85.,  82.,  97.,  74.,  66.,  96.,  55.,  99.,  89.,  90., 119.,
        24.,  67.,  84., 112., 114.,  60., 106., 104.,  78.,  40., 136.,
       116.,  92., 103.,  65.,  75., 108., 121., 120.,  61.,  80., 102.,
       109., 144., 147., 163., 115., 117., 133., 132., 137.,  -4.,  nan])

In [7]:
df[df['Dream11_ Points'].isnull()]

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNOUT

we don't have any record for row no 1320 so we can delete this row

In [8]:
df.iloc[1320:]

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNOUT

In [9]:
#droping row no 1320 from dataset 
df=df.drop(1320,axis=0)
df.head()

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
0,1.0,M1,MS Dhoni,CSK,MI,RH,Chasing,Sheikh Zayed,WK,0.0,NaN,20.0,NO
1,1.0,M1,Watson,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,4.0,NaN,17.0,LBW
2,1.0,M1,Rayudu,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,71.0,NaN,95.0,CAUGHT
3,1.0,M1,Du Plesis,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,58.0,NaN,100.0,NO
4,1.0,M1,Vijay,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,1.0,NaN,5.0,LBW

In [10]:
df['Wickets'].unique()

array([nan, '2', '1', '3', '0', '4', '5', ' '], dtype=object)

# Replacing null values with zero

In [11]:
df=df.fillna(0)
df.isnull().sum()

                       0
Individual_Match No    0
Player                 0
Team                   0
Opp_Team               0
RH/LH                  0
Match_Type             0
Ground                 0
Role                   0
Runs                   0
Wickets                0
Dream11_ Points        0
Dismissal              0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1319
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0                        1320 non-null   float64
 1   Individual_Match No  1320 non-null   object
 2   Player               1320 non-null   object
 3   Team                 1320 non-null   object
 4   Opp_Team             1320 non-null   object
 5   RH/LH                1320 non-null   object
 6   Match_Type           1320 non-null   object
 7   Ground               1320 non-null   object
 8   Role                 1320 non-null   object
 9   Runs                 1320 non-null   float64
 10  Wickets              1320 non-null   object
 11  Dream11_ Points      1320 non-null   float64
 12  Dismissal            1320 non-null   object
dtypes: float64(3), object(10)
memory usage: 144.4+ KB

wickets column are in object first conver in to float

# Remove unwanted character from data

In [13]:
df['Wickets']=df['Wickets'].str.replace(' ','')

In [14]:
df['Wickets']=df['Wickets'].replace('',np.nan)
df['Wickets'].unique()

array([nan, '2', '1', '3', '0', '4', '5'], dtype=object)

In [15]:
df['Wickets']=df['Wickets'].fillna(0)
df['Wickets']=df['Wickets'].astype('float')

# Checking Teamwise

1.which player has scored more run nd more points

2.which player has taken more wickets nd more point

3.which player are continously hitting run for chennai

4.which player are continously taking wickets for chennai

In [16]:
csk_df=df[df['Team']=='CSK']
csk_df

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
0,1.0,M1,MS Dhoni,CSK,MI,RH,Chasing,Sheikh Zayed,WK,0.0,0.0,20.0,NO
1,1.0,M1,Watson,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,4.0,0.0,17.0,LBW
2,1.0,M1,Rayudu,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,71.0,0.0,95.0,CAUGHT
3,1.0,M1,Du Plesis,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,58.0,0.0,100.0,NO
4,1.0,M1,Vijay,CSK,MI,RH,Chasing,Sheikh Zayed,BAT,1.0,0.0,5.0,LBW
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,53.0,M14,Imran Tahir,CSK,KXIP,RH,Chasing,Sheikh Zayed,BALL,0.0,1.0,31.0,0
1162,53.0,M14,Deepak Chahar,CSK,KXIP,RH,Chasing,Sheikh Zayed,BALL,0.0,0.0,2.0,0
1163,53.0,M14,S Thakur,CSK,KXIP,RH,Chasing,Sheikh Zayed,BALL,0.0,1.0,29.0,0
1164,53.0,M14,Ngidi,CSK,KXIP,RH,Chasing,Sheikh Zayed,BALL,0.0,3.0,77.0,0
1165,53.0,M14,Jagadeesan,CSK,KXIP,LH,Chasing,Sheikh Zayed,BAT,0.0,0.0,4.0,0

In [17]:
plr_run=csk_df.groupby(['Player'])['Runs'].sum().sort_values(ascending=False)
plr_run

Player
Rayudu              446.0
Du Plesis           362.0
Watson              299.0
Jadeja              232.0
Rituraj Gaikwad     204.0
MS Dhoni            200.0
Sam Curran          187.0
Jadhav               62.0
Jagadeesan           33.0
Vijay                32.0
Imran Tahir          13.0
S Thakur             12.0
Deepak Chahar         7.0
D Bravo               7.0
Piyush Chawla         0.0
Ngidi                 0.0
Monu Kumar            0.0
Mitchell Santner      0.0
Karn Sharma           0.0
Josh Hazlewood        0.0
Name: Runs, dtype: float64

In [18]:
plr_avg_runs=csk_df.groupby(['Player'])['Runs'].mean().sort_values(ascending=False)
plr_avg_runs

Player
Rayudu              37.166667
Rituraj Gaikwad     34.000000
Du Plesis           27.846154
Watson              27.181818
Jadeja              16.571429
MS Dhoni            14.285714
Sam Curran          13.357143
Vijay               10.666667
Jadhav               7.750000
Jagadeesan           6.600000
Imran Tahir          4.333333
S Thakur             1.333333
D Bravo              1.166667
Deepak Chahar        0.500000
Piyush Chawla        0.000000
Ngidi                0.000000
Monu Kumar           0.000000
Mitchell Santner     0.000000
Karn Sharma          0.000000
Josh Hazlewood       0.000000
Name: Runs, dtype: float64

In [19]:
plr_wicket=csk_df.groupby(['Player'])['Wickets'].sum().sort_values(ascending=False)
plr_wicket

Player
Sam Curran          13.0
Deepak Chahar       12.0
S Thakur            10.0
Ngidi                9.0
D Bravo              6.0
Piyush Chawla        6.0
Jadeja               6.0
Karn Sharma          5.0
Mitchell Santner     2.0
Imran Tahir          1.0
Josh Hazlewood       1.0
Jadhav               0.0
Du Plesis            0.0
Watson               0.0
Jagadeesan           0.0
Vijay                0.0
Monu Kumar           0.0
Rayudu               0.0
Rituraj Gaikwad      0.0
MS Dhoni             0.0
Name: Wickets, dtype: float64

In [20]:
avg_wicket=csk_df.groupby(['Player'])['Wickets'].mean().sort_values(ascending=False)
avg_wicket

Player
Ngidi               2.250000
S Thakur            1.111111
D Bravo             1.000000
Mitchell Santner    1.000000
Karn Sharma         1.000000
Sam Curran          0.928571
Deepak Chahar       0.857143
Piyush Chawla       0.857143
Jadeja              0.428571
Imran Tahir         0.333333
Josh Hazlewood      0.333333
Jadhav              0.000000
Du Plesis           0.000000
Watson              0.000000
Jagadeesan          0.000000
Vijay               0.000000
Monu Kumar          0.000000
Rayudu              0.000000
Rituraj Gaikwad     0.000000
MS Dhoni            0.000000
Name: Wickets, dtype: float64

In [21]:
plr_point=csk_df.groupby(['Player'])['Dream11_ Points'].sum().sort_values(ascending=False)
plr_point

Player
Du Plesis           697.0
Sam Curran          649.0
Jadeja              534.0
Rayudu              497.0
Watson              434.0
MS Dhoni            430.0
Deepak Chahar       405.0
Rituraj Gaikwad     310.0
S Thakur            304.0
Ngidi               231.0
D Bravo             193.0
Piyush Chawla       166.0
Karn Sharma         137.0
Jadhav              105.0
Mitchell Santner     66.0
Jagadeesan           55.0
Imran Tahir          54.0
Vijay                46.0
Josh Hazlewood       41.0
Monu Kumar            2.0
Name: Dream11_ Points, dtype: float64

In [22]:
plr_avg_point=csk_df.groupby(['Player'])['Dream11_ Points'].mean().sort_values(ascending=False)
plr_avg_point

Player
Ngidi               57.750000
Du Plesis           53.615385
Rituraj Gaikwad     51.666667
Sam Curran          46.357143
Rayudu              41.416667
Watson              39.454545
Jadeja              38.142857
S Thakur            33.777778
Mitchell Santner    33.000000
D Bravo             32.166667
MS Dhoni            30.714286
Deepak Chahar       28.928571
Karn Sharma         27.400000
Piyush Chawla       23.714286
Imran Tahir         18.000000
Vijay               15.333333
Josh Hazlewood      13.666667
Jadhav              13.125000
Jagadeesan          11.000000
Monu Kumar           2.000000
Name: Dream11_ Points, dtype: float64

In [23]:
plr_role=csk_df.groupby(['Player'])['Role'].unique()
plr_role

Player
D Bravo                   [ALL]
Deepak Chahar            [BALL]
Du Plesis                 [BAT]
Imran Tahir              [BALL]
Jadeja                    [ALL]
Jadhav              [BAT, BALL]
Jagadeesan            [WK, BAT]
Josh Hazlewood           [BALL]
Karn Sharma              [BALL]
MS Dhoni                   [WK]
Mitchell Santner         [BALL]
Monu Kumar               [BALL]
Ngidi                    [BALL]
Piyush Chawla            [BALL]
Rayudu                    [BAT]
Rituraj Gaikwad           [BAT]
S Thakur                 [BALL]
Sam Curran                [ALL]
Vijay                     [BAT]
Watson                    [BAT]
Name: Role, dtype: object

# Add all individual series and creat a single data frame of all player

In [24]:
csk_plr_df=pd.concat([plr_run,plr_avg_runs,plr_wicket,avg_wicket,plr_point,plr_avg_point,plr_role],axis=1)
csk_plr_df

,Runs,Runs,Wickets,Wickets,Dream11_ Points,Dream11_ Points,Role
Rayudu,446.0,37.166667,0.0,0.000000,497.0,41.416667,[BAT]
Du Plesis,362.0,27.846154,0.0,0.000000,697.0,53.615385,[BAT]
Watson,299.0,27.181818,0.0,0.000000,434.0,39.454545,[BAT]
Jadeja,232.0,16.571429,6.0,0.428571,534.0,38.142857,[ALL]
Rituraj Gaikwad,204.0,34.000000,0.0,0.000000,310.0,51.666667,[BAT]
MS Dhoni,200.0,14.285714,0.0,0.000000,430.0,30.714286,[WK]
Sam Curran,187.0,13.357143,13.0,0.928571,649.0,46.357143,[ALL]
Jadhav,62.0,7.750000,0.0,0.000000,105.0,13.125000,"[BAT, BALL]"
Jagadeesan,33.0,6.600000,0.0,0.000000,55.0,11.000000,"[WK, BAT]"
Vijay,32.0,10.666667,0.0,0.000000,46.0,15.333333,[BAT]
Imran Tahir,13.0,4.333333,1.0,0.333333,54.0,18.000000,[BALL]
S Thakur,12.0,1.333333,10.0,1.111111,304.0,33.777778,[BALL]
Deepak Chahar,7.0,0.500000,12.0,0.857143,405.0,28.928571,[BALL]
D Bravo,7.0,1.166667,6.0,1.000000,193.0,32.166667,[ALL]
Piyush Chawla,0.0,0.000000,6.0,0.857143,166.0,23.714286,[BALL]
Ngidi,0.0,0.000000,9.0,2.250000,231.0,57.750000,[BALL]
Monu Kumar,0.0,0.000000,0.0,0.000000,2.0,2.000000,[BALL]
Mitchell Santner,0.0,0.000000,2.0,1.000000,66.0,33.000000,[BALL]
Karn Sharma,0.0,0.000000,5.0,1.000000,137.0,27.400000,[BALL]
Josh Hazlewood,0.0,0.000000,1.0,0.333333,41.0,13.666667,[BALL]

In this dataframe most of the columns are repeating lets fix this

In [25]:
csk_plr_df['Total_Runs']=csk_plr_df.iloc[:,0]
csk_plr_df['Avg_Run']=csk_plr_df.iloc[:,1]
csk_plr_df=csk_plr_df.drop('Runs',axis=1)
csk_plr_df['Avg_Wicket']=csk_plr_df.iloc[:,1]
csk_plr_df['Total_Wickets']=csk_plr_df.iloc[:,0]
csk_plr_df=csk_plr_df.drop('Wickets',axis=1)
csk_plr_df['Avg_Point']=csk_plr_df.iloc[:,1]
csk_plr_df['Total_Point']=csk_plr_df.iloc[:,0]
csk_plr_df=csk_plr_df.drop('Dream11_ Points',axis=1)
csk_plr_df['Player_Role']=csk_plr_df.iloc[:,0]
csk_plr_df=csk_plr_df.drop('Role',axis=1)
csk_plr_df

<ipython-input-25-5b85669a67d4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csk_plr_df['Avg_Wicket']=csk_plr_df.iloc[:,1]

,Total_Runs,Avg_Run,Avg_Wicket,Total_Wickets,Avg_Point,Total_Point,Player_Role
Rayudu,446.0,37.166667,0.000000,0.0,41.416667,497.0,[BAT]
Du Plesis,362.0,27.846154,0.000000,0.0,53.615385,697.0,[BAT]
Watson,299.0,27.181818,0.000000,0.0,39.454545,434.0,[BAT]
Jadeja,232.0,16.571429,0.428571,6.0,38.142857,534.0,[ALL]
Rituraj Gaikwad,204.0,34.000000,0.000000,0.0,51.666667,310.0,[BAT]
MS Dhoni,200.0,14.285714,0.000000,0.0,30.714286,430.0,[WK]
Sam Curran,187.0,13.357143,0.928571,13.0,46.357143,649.0,[ALL]
Jadhav,62.0,7.750000,0.000000,0.0,13.125000,105.0,"[BAT, BALL]"
Jagadeesan,33.0,6.600000,0.000000,0.0,11.000000,55.0,"[WK, BAT]"
Vijay,32.0,10.666667,0.000000,0.0,15.333333,46.0,[BAT]
Imran Tahir,13.0,4.333333,0.333333,1.0,18.000000,54.0,[BALL]
S Thakur,12.0,1.333333,1.111111,10.0,33.777778,304.0,[BALL]
Deepak Chahar,7.0,0.500000,0.857143,12.0,28.928571,405.0,[BALL]
D Bravo,7.0,1.166667,1.000000,6.0,32.166667,193.0,[ALL]
Piyush Chawla,0.0,0.000000,0.857143,6.0,23.714286,166.0,[BALL]
Ngidi,0.0,0.000000,2.250000,9.0,57.750000,231.0,[BALL]
Monu Kumar,0.0,0.000000,0.000000,0.0,2.000000,2.0,[BALL]
Mitchell Santner,0.0,0.000000,1.000000,2.0,33.000000,66.0,[BALL]
Karn Sharma,0.0,0.000000,1.000000,5.0,27.400000,137.0,[BALL]
Josh Hazlewood,0.0,0.000000,0.333333,1.0,13.666667,41.0,[BALL]

# Top Five batsman

In [26]:
csk_plr_df.sort_values(by='Avg_Run',ascending=False)

,Total_Runs,Avg_Run,Avg_Wicket,Total_Wickets,Avg_Point,Total_Point,Player_Role
Rayudu,446.0,37.166667,0.000000,0.0,41.416667,497.0,[BAT]
Rituraj Gaikwad,204.0,34.000000,0.000000,0.0,51.666667,310.0,[BAT]
Du Plesis,362.0,27.846154,0.000000,0.0,53.615385,697.0,[BAT]
Watson,299.0,27.181818,0.000000,0.0,39.454545,434.0,[BAT]
Jadeja,232.0,16.571429,0.428571,6.0,38.142857,534.0,[ALL]
MS Dhoni,200.0,14.285714,0.000000,0.0,30.714286,430.0,[WK]
Sam Curran,187.0,13.357143,0.928571,13.0,46.357143,649.0,[ALL]
Vijay,32.0,10.666667,0.000000,0.0,15.333333,46.0,[BAT]
Jadhav,62.0,7.750000,0.000000,0.0,13.125000,105.0,"[BAT, BALL]"
Jagadeesan,33.0,6.600000,0.000000,0.0,11.000000,55.0,"[WK, BAT]"
Imran Tahir,13.0,4.333333,0.333333,1.0,18.000000,54.0,[BALL]
S Thakur,12.0,1.333333,1.111111,10.0,33.777778,304.0,[BALL]
D Bravo,7.0,1.166667,1.000000,6.0,32.166667,193.0,[ALL]
Deepak Chahar,7.0,0.500000,0.857143,12.0,28.928571,405.0,[BALL]
Piyush Chawla,0.0,0.000000,0.857143,6.0,23.714286,166.0,[BALL]
Ngidi,0.0,0.000000,2.250000,9.0,57.750000,231.0,[BALL]
Monu Kumar,0.0,0.000000,0.000000,0.0,2.000000,2.0,[BALL]
Mitchell Santner,0.0,0.000000,1.000000,2.0,33.000000,66.0,[BALL]
Karn Sharma,0.0,0.000000,1.000000,5.0,27.400000,137.0,[BALL]
Josh Hazlewood,0.0,0.000000,0.333333,1.0,13.666667,41.0,[BALL]

Top five Batsman from csk
Rayudu 
Rituraj Gaikwad
DuPlesis
Watson
MS Dhoni

# Top Five Bowler

In [27]:
csk_plr_df.sort_values(by='Avg_Wicket',ascending=False)

,Total_Runs,Avg_Run,Avg_Wicket,Total_Wickets,Avg_Point,Total_Point,Player_Role
Ngidi,0.0,0.000000,2.250000,9.0,57.750000,231.0,[BALL]
S Thakur,12.0,1.333333,1.111111,10.0,33.777778,304.0,[BALL]
Karn Sharma,0.0,0.000000,1.000000,5.0,27.400000,137.0,[BALL]
Mitchell Santner,0.0,0.000000,1.000000,2.0,33.000000,66.0,[BALL]
D Bravo,7.0,1.166667,1.000000,6.0,32.166667,193.0,[ALL]
Sam Curran,187.0,13.357143,0.928571,13.0,46.357143,649.0,[ALL]
Piyush Chawla,0.0,0.000000,0.857143,6.0,23.714286,166.0,[BALL]
Deepak Chahar,7.0,0.500000,0.857143,12.0,28.928571,405.0,[BALL]
Jadeja,232.0,16.571429,0.428571,6.0,38.142857,534.0,[ALL]
Imran Tahir,13.0,4.333333,0.333333,1.0,18.000000,54.0,[BALL]
Josh Hazlewood,0.0,0.000000,0.333333,1.0,13.666667,41.0,[BALL]
Du Plesis,362.0,27.846154,0.000000,0.0,53.615385,697.0,[BAT]
Vijay,32.0,10.666667,0.000000,0.0,15.333333,46.0,[BAT]
Jagadeesan,33.0,6.600000,0.000000,0.0,11.000000,55.0,"[WK, BAT]"
Jadhav,62.0,7.750000,0.000000,0.0,13.125000,105.0,"[BAT, BALL]"
MS Dhoni,200.0,14.285714,0.000000,0.0,30.714286,430.0,[WK]
Monu Kumar,0.0,0.000000,0.000000,0.0,2.000000,2.0,[BALL]
Rituraj Gaikwad,204.0,34.000000,0.000000,0.0,51.666667,310.0,[BAT]
Watson,299.0,27.181818,0.000000,0.0,39.454545,434.0,[BAT]
Rayudu,446.0,37.166667,0.000000,0.0,41.416667,497.0,[BAT]

Top bowler from csk
Ngidi
S Thakur
Deepak Chahar
Karn Sharma

# Players from csk who can gives us more deam_11 pont

In [28]:
csk_plr_df.sort_values(by='Avg_Point',ascending=False)

,Total_Runs,Avg_Run,Avg_Wicket,Total_Wickets,Avg_Point,Total_Point,Player_Role
Ngidi,0.0,0.000000,2.250000,9.0,57.750000,231.0,[BALL]
Du Plesis,362.0,27.846154,0.000000,0.0,53.615385,697.0,[BAT]
Rituraj Gaikwad,204.0,34.000000,0.000000,0.0,51.666667,310.0,[BAT]
Sam Curran,187.0,13.357143,0.928571,13.0,46.357143,649.0,[ALL]
Rayudu,446.0,37.166667,0.000000,0.0,41.416667,497.0,[BAT]
Watson,299.0,27.181818,0.000000,0.0,39.454545,434.0,[BAT]
Jadeja,232.0,16.571429,0.428571,6.0,38.142857,534.0,[ALL]
S Thakur,12.0,1.333333,1.111111,10.0,33.777778,304.0,[BALL]
Mitchell Santner,0.0,0.000000,1.000000,2.0,33.000000,66.0,[BALL]
D Bravo,7.0,1.166667,1.000000,6.0,32.166667,193.0,[ALL]
MS Dhoni,200.0,14.285714,0.000000,0.0,30.714286,430.0,[WK]
Deepak Chahar,7.0,0.500000,0.857143,12.0,28.928571,405.0,[BALL]
Karn Sharma,0.0,0.000000,1.000000,5.0,27.400000,137.0,[BALL]
Piyush Chawla,0.0,0.000000,0.857143,6.0,23.714286,166.0,[BALL]
Imran Tahir,13.0,4.333333,0.333333,1.0,18.000000,54.0,[BALL]
Vijay,32.0,10.666667,0.000000,0.0,15.333333,46.0,[BAT]
Josh Hazlewood,0.0,0.000000,0.333333,1.0,13.666667,41.0,[BALL]
Jadhav,62.0,7.750000,0.000000,0.0,13.125000,105.0,"[BAT, BALL]"
Jagadeesan,33.0,6.600000,0.000000,0.0,11.000000,55.0,"[WK, BAT]"
Monu Kumar,0.0,0.000000,0.000000,0.0,2.000000,2.0,[BALL]

# Here is the list of players who performed well from csk 

This list is prepared after analyzing Total_point & Avg_point

1.Du Plesis

2.Sam Curran

3.Ngidi

4.Rituraj Gaikwad

5.Rayudu

6.Jadeja

7.Watson

# Suggestion For CSK

# Let's do the same analysis for RCB team

In [42]:
csk_df[csk_df['Player']=='Ngidi']

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
9,1.0,M1,Ngidi,CSK,MI,RH,Chasing,Sheikh Zayed,BALL,0.0,3.0,77.0,0
86,4.0,M2,Ngidi,CSK,RR,RH,Chasing,Sharjah,BALL,0.0,1.0,23.0,0
1076,49.0,M13,Ngidi,CSK,KKR,RH,Chasing,Dubai,BALL,0.0,2.0,54.0,0
1164,53.0,M14,Ngidi,CSK,KXIP,RH,Chasing,Sheikh Zayed,BALL,0.0,3.0,77.0,0

After looking in to data we can say that Ngidi has perfomed well but csk didn't give him many chance

he took 9 wickets in four matches his avg_points are also very high

In [29]:
rcb_df=df[df['Team']=='RCB']
rcb_df.head()

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
44,3.0,M1,Aaron Finch,RCB,SRH,RH,Defending,Dubai,BAT,29.0,0.0,38.0,LBW
45,3.0,M1,Devdutt Padikkal,RCB,SRH,LH,Defending,Dubai,BAT,56.0,0.0,76.0,BOLD
46,3.0,M1,Virat Kohli,RCB,SRH,RH,Defending,Dubai,BAT,14.0,0.0,34.0,CAUGHT
47,3.0,M1,AB de Villiers,RCB,SRH,RH,Defending,Dubai,BAT,51.0,0.0,71.0,RUNOUT
48,3.0,M1,Josh Phillipe,RCB,SRH,RH,Defending,Dubai,WK,1.0,0.0,11.0,NO

In [30]:
rcb_plr_run=rcb_df.groupby('Player')['Runs'].sum().sort_values(ascending=False)
rcb_plr_run

Player
Devdutt Padikkal    473.0
Virat Kohli         466.0
AB de Villiers      454.0
Aaron Finch         268.0
Shivam Dube         129.0
W Sundar            111.0
Josh Phillipe        78.0
Gurkeerat Singh      76.0
Chris Morris         34.0
Navdeep Saini        27.0
Mohammed Siraj       17.0
Isuru Udana          15.0
Moeen Ali            12.0
Shahbaz Ahmed         1.0
Dale Steyn            1.0
Y Chahal              1.0
Adam Zampa            0.0
Umesh Yadav           0.0
Name: Runs, dtype: float64

In [31]:
rcb_plr_avg_run=rcb_df.groupby('Player')['Runs'].mean().sort_values(ascending=False)
rcb_plr_avg_run

Player
Devdutt Padikkal    31.533333
Virat Kohli         31.066667
AB de Villiers      30.266667
Aaron Finch         22.333333
Josh Phillipe       15.600000
Shivam Dube         11.727273
Gurkeerat Singh      9.500000
W Sundar             7.400000
Moeen Ali            4.000000
Chris Morris         3.777778
Navdeep Saini        2.076923
Mohammed Siraj       1.888889
Isuru Udana          1.500000
Shahbaz Ahmed        0.500000
Dale Steyn           0.333333
Y Chahal             0.066667
Adam Zampa           0.000000
Umesh Yadav          0.000000
Name: Runs, dtype: float64

In [32]:
rcb_plr_wkt=rcb_df.groupby('Player')['Wickets'].sum().sort_values(ascending=False)
rcb_plr_wkt

Player
Y Chahal            21.0
Mohammed Siraj      11.0
Chris Morris        11.0
W Sundar             8.0
Isuru Udana          8.0
Navdeep Saini        6.0
Shivam Dube          4.0
Adam Zampa           2.0
Shahbaz Ahmed        2.0
Dale Steyn           1.0
Moeen Ali            1.0
Aaron Finch          0.0
Josh Phillipe        0.0
Devdutt Padikkal     0.0
Gurkeerat Singh      0.0
Umesh Yadav          0.0
Virat Kohli          0.0
AB de Villiers       0.0
Name: Wickets, dtype: float64

In [33]:
rcb_plr_avg_wkt=rcb_df.groupby('Player')['Wickets'].mean().sort_values(ascending=False)
rcb_plr_avg_wkt

Player
Y Chahal            1.400000
Mohammed Siraj      1.222222
Chris Morris        1.222222
Shahbaz Ahmed       1.000000
Isuru Udana         0.800000
Adam Zampa          0.666667
W Sundar            0.533333
Navdeep Saini       0.461538
Shivam Dube         0.363636
Dale Steyn          0.333333
Moeen Ali           0.333333
Aaron Finch         0.000000
Josh Phillipe       0.000000
Devdutt Padikkal    0.000000
Gurkeerat Singh     0.000000
Umesh Yadav         0.000000
Virat Kohli         0.000000
AB de Villiers      0.000000
Name: Wickets, dtype: float64

In [34]:
rcb_plr_dpoint=rcb_df.groupby('Player')['Dream11_ Points'].sum().sort_values(ascending=False)
rcb_plr_dpoint

Player
AB de Villiers      735.0
Devdutt Padikkal    710.0
Virat Kohli         611.0
Y Chahal            602.0
Chris Morris        447.0
W Sundar            411.0
Aaron Finch         392.0
Mohammed Siraj      370.0
Shivam Dube         308.0
Isuru Udana         262.0
Navdeep Saini       244.0
Gurkeerat Singh     155.0
Josh Phillipe       113.0
Adam Zampa           68.0
Shahbaz Ahmed        65.0
Moeen Ali            52.0
Dale Steyn           26.0
Umesh Yadav          14.0
Name: Dream11_ Points, dtype: float64

In [35]:
rcb_plr_avg_dpoint=rcb_df.groupby('Player')['Dream11_ Points'].mean().sort_values(ascending=False)
rcb_plr_avg_dpoint

Player
Chris Morris        49.666667
AB de Villiers      49.000000
Devdutt Padikkal    47.333333
Mohammed Siraj      41.111111
Virat Kohli         40.733333
Y Chahal            40.133333
Aaron Finch         32.666667
Shahbaz Ahmed       32.500000
Shivam Dube         28.000000
W Sundar            27.400000
Isuru Udana         26.200000
Adam Zampa          22.666667
Josh Phillipe       22.600000
Gurkeerat Singh     19.375000
Navdeep Saini       18.769231
Moeen Ali           17.333333
Dale Steyn           8.666667
Umesh Yadav          7.000000
Name: Dream11_ Points, dtype: float64

In [36]:
rcb_plr_role=rcb_df.groupby('Player')['Role'].unique()
rcb_plr_role

Player
AB de Villiers        [BAT, WK]
Aaron Finch           [BAT, WK]
Adam Zampa               [BALL]
Chris Morris              [ALL]
Dale Steyn               [BALL]
Devdutt Padikkal          [BAT]
Gurkeerat Singh     [ALL, BALL]
Isuru Udana              [BALL]
Josh Phillipe              [WK]
Moeen Ali           [ALL, BALL]
Mohammed Siraj      [BALL, BAT]
Navdeep Saini            [BALL]
Shahbaz Ahmed        [BAT, ALL]
Shivam Dube         [ALL, BALL]
Umesh Yadav              [BALL]
Virat Kohli               [BAT]
W Sundar                  [ALL]
Y Chahal                 [BALL]
Name: Role, dtype: object

# Add all these series in dataFrame

In [37]:
rcb_plr_df=pd.concat([rcb_plr_run,rcb_plr_avg_run,rcb_plr_wkt,rcb_plr_avg_wkt,
                      rcb_plr_dpoint,rcb_plr_avg_dpoint,rcb_plr_role],axis=1)
rcb_plr_df

,Runs,Runs,Wickets,Wickets,Dream11_ Points,Dream11_ Points,Role
Devdutt Padikkal,473.0,31.533333,0.0,0.000000,710.0,47.333333,[BAT]
Virat Kohli,466.0,31.066667,0.0,0.000000,611.0,40.733333,[BAT]
AB de Villiers,454.0,30.266667,0.0,0.000000,735.0,49.000000,"[BAT, WK]"
Aaron Finch,268.0,22.333333,0.0,0.000000,392.0,32.666667,"[BAT, WK]"
Shivam Dube,129.0,11.727273,4.0,0.363636,308.0,28.000000,"[ALL, BALL]"
W Sundar,111.0,7.400000,8.0,0.533333,411.0,27.400000,[ALL]
Josh Phillipe,78.0,15.600000,0.0,0.000000,113.0,22.600000,[WK]
Gurkeerat Singh,76.0,9.500000,0.0,0.000000,155.0,19.375000,"[ALL, BALL]"
Chris Morris,34.0,3.777778,11.0,1.222222,447.0,49.666667,[ALL]
Navdeep Saini,27.0,2.076923,6.0,0.461538,244.0,18.769231,[BALL]
Mohammed Siraj,17.0,1.888889,11.0,1.222222,370.0,41.111111,"[BALL, BAT]"
Isuru Udana,15.0,1.500000,8.0,0.800000,262.0,26.200000,[BALL]
Moeen Ali,12.0,4.000000,1.0,0.333333,52.0,17.333333,"[ALL, BALL]"
Shahbaz Ahmed,1.0,0.500000,2.0,1.000000,65.0,32.500000,"[BAT, ALL]"
Dale Steyn,1.0,0.333333,1.0,0.333333,26.0,8.666667,[BALL]
Y Chahal,1.0,0.066667,21.0,1.400000,602.0,40.133333,[BALL]
Adam Zampa,0.0,0.000000,2.0,0.666667,68.0,22.666667,[BALL]
Umesh Yadav,0.0,0.000000,0.0,0.000000,14.0,7.000000,[BALL]

In [38]:
rcb_plr_df['Avg_Dream11_Point']=rcb_plr_df.iloc[:,5]
rcb_plr_df['Total_Dream11_Point']=rcb_plr_df.iloc[:,4]
rcb_plr_df=rcb_plr_df.drop('Dream11_ Points',axis=1)
rcb_plr_df

,Runs,Runs,Wickets,Wickets,Role,Avg_Dream11_Point,Total_Dream11_Point
Devdutt Padikkal,473.0,31.533333,0.0,0.000000,[BAT],47.333333,710.0
Virat Kohli,466.0,31.066667,0.0,0.000000,[BAT],40.733333,611.0
AB de Villiers,454.0,30.266667,0.0,0.000000,"[BAT, WK]",49.000000,735.0
Aaron Finch,268.0,22.333333,0.0,0.000000,"[BAT, WK]",32.666667,392.0
Shivam Dube,129.0,11.727273,4.0,0.363636,"[ALL, BALL]",28.000000,308.0
W Sundar,111.0,7.400000,8.0,0.533333,[ALL],27.400000,411.0
Josh Phillipe,78.0,15.600000,0.0,0.000000,[WK],22.600000,113.0
Gurkeerat Singh,76.0,9.500000,0.0,0.000000,"[ALL, BALL]",19.375000,155.0
Chris Morris,34.0,3.777778,11.0,1.222222,[ALL],49.666667,447.0
Navdeep Saini,27.0,2.076923,6.0,0.461538,[BALL],18.769231,244.0
Mohammed Siraj,17.0,1.888889,11.0,1.222222,"[BALL, BAT]",41.111111,370.0
Isuru Udana,15.0,1.500000,8.0,0.800000,[BALL],26.200000,262.0
Moeen Ali,12.0,4.000000,1.0,0.333333,"[ALL, BALL]",17.333333,52.0
Shahbaz Ahmed,1.0,0.500000,2.0,1.000000,"[BAT, ALL]",32.500000,65.0
Dale Steyn,1.0,0.333333,1.0,0.333333,[BALL],8.666667,26.0
Y Chahal,1.0,0.066667,21.0,1.400000,[BALL],40.133333,602.0
Adam Zampa,0.0,0.000000,2.0,0.666667,[BALL],22.666667,68.0
Umesh Yadav,0.0,0.000000,0.0,0.000000,[BALL],7.000000,14.0

# List of players who performed well for team

In [39]:
rcb_plr_df.sort_values('Avg_Dream11_Point',ascending=False)

,Runs,Runs,Wickets,Wickets,Role,Avg_Dream11_Point,Total_Dream11_Point
Chris Morris,34.0,3.777778,11.0,1.222222,[ALL],49.666667,447.0
AB de Villiers,454.0,30.266667,0.0,0.000000,"[BAT, WK]",49.000000,735.0
Devdutt Padikkal,473.0,31.533333,0.0,0.000000,[BAT],47.333333,710.0
Mohammed Siraj,17.0,1.888889,11.0,1.222222,"[BALL, BAT]",41.111111,370.0
Virat Kohli,466.0,31.066667,0.0,0.000000,[BAT],40.733333,611.0
Y Chahal,1.0,0.066667,21.0,1.400000,[BALL],40.133333,602.0
Aaron Finch,268.0,22.333333,0.0,0.000000,"[BAT, WK]",32.666667,392.0
Shahbaz Ahmed,1.0,0.500000,2.0,1.000000,"[BAT, ALL]",32.500000,65.0
Shivam Dube,129.0,11.727273,4.0,0.363636,"[ALL, BALL]",28.000000,308.0
W Sundar,111.0,7.400000,8.0,0.533333,[ALL],27.400000,411.0
Isuru Udana,15.0,1.500000,8.0,0.800000,[BALL],26.200000,262.0
Adam Zampa,0.0,0.000000,2.0,0.666667,[BALL],22.666667,68.0
Josh Phillipe,78.0,15.600000,0.0,0.000000,[WK],22.600000,113.0
Gurkeerat Singh,76.0,9.500000,0.0,0.000000,"[ALL, BALL]",19.375000,155.0
Navdeep Saini,27.0,2.076923,6.0,0.461538,[BALL],18.769231,244.0
Moeen Ali,12.0,4.000000,1.0,0.333333,"[ALL, BALL]",17.333333,52.0
Dale Steyn,1.0,0.333333,1.0,0.333333,[BALL],8.666667,26.0
Umesh Yadav,0.0,0.000000,0.0,0.000000,[BALL],7.000000,14.0

Here is the list of players who performed well from csk

This list is prepared after analyzing Total_point & Avg_poin

1.AB de Villiers
2.Devdutt Padikkal
3.Chris Morris
4.Virat Kohli
5.Y Chahal
6.Mohammed Siraj

# Suggestions for RCB

In [40]:
rcb_df.sort_values('Dream11_ Points',ascending=False).head(50)
rcb_df[rcb_df['Player']=='Shahbaz Ahmed']

,,Individual_Match No,Player,Team,Opp_Team,RH/LH,Match_Type,Ground,Role,Runs,Wickets,Dream11_ Points,Dismissal
722,33.0,M9,Shahbaz Ahmed,RCB,RR,LH,Chasing,Dubai,BAT,0.0,0.0,10.0,0
1196,55.0,M14,Shahbaz Ahmed,RCB,DC,LH,Defending,Sheikh Zayed,ALL,1.0,2.0,55.0,NO

RCB didn't Give many chances to Shahbaz Ahmed
he got only two chances in that he has taken 2 wickets in one match
After looking in to that we can that only few players are performing in RCB Team

# Match bw RCB & CSK 
Make a perfect team for Dream_11

Wicket keeper
AB de Villiers

Batsman
Rituraj Gaikwad,DuPlesis,Devdutt Padikkal,Virat kohli

All Rounder
Sam Curran,Chris Morris

Bowler
Y Chahal,Mohammed Siraj,Nagidi,S Thakur

Captain
AB de Villiers

Vice Captain
Sam Curran